<li data-project='<%= JSON.stringify(project) %>'  class="projectpanel" title="工程名称<%=project.name%>&#10创建时间:<%=project.createTime%>&#10修改时间:<%=project.lastModifiedTime%>">
    <div class="img">
        <i class="projectdelete iconfont createIcon">&#xe607;</i>
        <a href="#"><img src='<%= thumbnail || "../../public/login/assets/img/pro_1.png" %> '/></a>
    </div>
    <p class="text projectinfo" data-toggle="modal" data-target="#myModal">
        <span><%= project.name %></span>
        <!--<span class="day"><%= project.lastModified %></span>-->
    </p>
</li>