<% for(var j=0;j<user.length;j++) {%>
    <tr>
        <th><%=j+1%></th>
        <th><%=user[j].accountName%></th>
        <th><%=user[j].email%></th>
        <th><%=user[j].createTime%></th>
        <th>
            <select class="authSelect" data-userId='<%=user[j]._id%>'>
                <% var options = ["","basic","pro","ultimate","admin"]%>
                <% for (var i=0;i<options.length;i++){%>
                <option value="<%= options[i]%>" <%= (user[j].type==options[i])?"selected":"" %>><%= options[i]%></option>
                <%}%>
            </select>
        </th>
    </tr>
<%}%>